@model MVCTrain.Models.Customer


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<table>
    @if (@Model.BirthdayDate.HasValue)
    {
        <tr>
            <td>@Model.BirthdayDate</td>
        </tr>
    }
    <tr>
        <td>@Model.MembershipType.Name</td>
    </tr>
</table>

