@model MVCTrain.Models.Customer


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table>
    <thead>Customers</thead>
    <tr>
        <td>@Model.Name</td>
    </tr>
</table>

